# Advanced Certification in AIML
## A Program by IIIT-H and TalentSprint

## Learning Objective

At the end of this experiment, you will be able to:

* Perform Data preprocessing

## Dataset

### Description

We will be using district wise demographics, enrollments, school and teacher indicator data to predict whether the literacy rate is high / medium / low in each district.

### Data Preprocessing

Data preprocessing is an important step of solving every machine learning problem. Most of
the datasets used with Machine Learning problems need to be processed / cleaned / transformed
so that a Machine Learning algorithm can be trained on it.

There are different steps involved for Data Preprocessing. These steps are as follows:

    1. Data Cleaning → In this step the primary focus is on
        -Handling missing data
        -Handling nosiy data
        -Detection and removal of outliers
    
    2. Data Integration → This process is used when data is gathered from various data sources
    and data are combined to form consistent data. This data after performing cleaning is used
    for analysis.
    
    3. Data Transformation → In this step we will convert the raw data into a specified for-
    mat according to the need of the model we are building. There are many options used for
    transforming the data as below:
        -Normalization
        -Aggregation
        -Generalization
        
    4. Data Reduction → After data transformation and scaling the redundancy within the data
    is removed and efficiently organizing the data is performed.

In [4]:
!ls

data			       Mini_Hackathon_Data_Munging.ipynb
data-20190108T113429Z-001.zip  sample_data

In [5]:
%cd data

/content/data

In [6]:
!ls

Districtwise_Basicdata.csv
Districtwise_Enrollment_details_indicator.csv
Districtwise_SchoolData.csv
Districtwise_Teacher_indicator.csv

#### Exercise 1 - (2 Marks)
We have four different files

* Districtwise_Basicdata.csv
* Districtwise_Enrollment_details_indicator.csv
* Districtwise_SchoolData.csv
* Districtwise_Teacher_indicator.csv
These files contain the neccesary data to solve the problem.
Load all the files correctly, after observing the header level details, data records etc

Hint : Use read_csv from pandas

In [0]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [8]:
# Your Code Here
df_basic = pd.read_csv('Districtwise_Basicdata.csv', skiprows=[0])
df_basic.columns = map(str.lower, df_basic.columns)
df_basic[:1]

      year  statecd  ... overall_lit  female_lit
0  2012-13       35  ...        High       84.52

[1 rows x 19 columns]

In [9]:
df_dist_enroll = pd.read_csv('Districtwise_Enrollment_details_indicator.csv', skiprows=[0,1,2])
df_dist_enroll.columns = map(str.lower, df_dist_enroll.columns)
df_dist_enroll.columns

Index(['year', 'statecd', 'state name ', 'distcd', 'distname', 'enr govt1',
       'enr govt2', 'enr govt3', 'enr govt4', 'enr govt5',
       ...
       'rep c7', 'rep c8', 'muslim p', 'muslim up', 'muslim g p',
       'muslim g up', 'obc p', 'obc up', 'obc g p', 'obc g up'],
      dtype='object', length=166)

In [10]:
df_dist_school = pd.read_csv('Districtwise_SchoolData.csv', skiprows=[0,1,2])
df_dist_school.columns = map(str.lower, df_dist_school.columns)
df_dist_school = df_dist_school.rename(columns={'ac_year': 'year'})
df_dist_school.columns

Index(['statecd', 'state name ', 'distcd', 'distname', 'year', 'schgovt1',
       'schgovt2', 'schgovt3', 'schgovt4', 'schgovt5',
       ...
       'app by road 4', 'app by road 5', 'app by road 6', 'app by road 7',
       'scr 30 p', 'scr 35 up', 'ptr 30 p', 'ptr 35 up', 'avg instn days p',
       'avg instn days up'],
      dtype='object', length=245)

In [11]:
df_dist_teacher = pd.read_csv('Districtwise_Teacher_indicator.csv', skiprows=[0,1,2])
df_dist_teacher.columns = map(str.lower, df_dist_teacher.columns)
df_dist_teacher = df_dist_teacher.rename(columns={'ac_year': 'year'})
df_dist_teacher.columns

Index(['statecd', 'statename', 'distcd', 'distname', 'year', 'tch_govt1',
       'tch_govt2', 'tch_govt3', 'tch_govt4', 'tch_govt5',
       ...
       'trn_tch_f2', 'trn_tch_f3', 'trn_tch_f4', 'trn_tch_f5', 'trn_tch_f6',
       'trn_tch_f7', 'prof_trn_tch_r', 'prof_trn_tch_p', 'days_nontch',
       'tch_nontch'],
      dtype='object', length=181)

In [12]:
print(f'{df_basic.shape}, {df_dist_enroll.shape}, {df_dist_school.shape}, {df_dist_teacher.shape}')

(1324, 19), (1324, 166), (1324, 245), (1324, 181)

#### Exercise 2  - (4 Marks)

* Remove the unwanted columns, which are unlikely to contribute for the prediction of overall literacy grade. The decision of what constitutes unwanted columns depends on how it effects your final accuracy (and very little on your domain understanding of education sector in India; you're encouraged however to exercise some domain understanding too if you wish)

**Hint** use pandas drop function to drop your choice of unwanted columns (if any).


* As the required data is present in different files, we need to integrate all the four to make single dataframe/dataset. For that purpose, create a unique identifier for each row in all the dataframes so that it can be used to map the data in different files correctly
* Join/integrate this data 

Example : data of the district ananthapur in Andrapradesh, which present in different files should form a single row 

Hint : 
* Use the combination of year, statecode, district code as unique identifier 

* Refer the following link for merge, join and concat syntaxes:  

https://pandas.pydata.org/pandas-docs/stable/merging.html

In [0]:
df_basic = df_basic.drop(['statename','distname'], axis=1)
df_dist_enroll = df_dist_enroll.drop(['state name ','distname'], axis=1)
df_dist_school = df_dist_school.drop(['state name ','distname'], axis=1)
df_dist_teacher = df_dist_teacher.drop(['statename','distname'], axis=1)

Follow this steps in order to clean the data:

In [14]:
x = pd.merge(df_basic, df_dist_enroll, on=['statecd','distcd','year'])
x.shape

(1324, 178)

In [15]:
y = pd.merge(x, df_dist_school, on=['statecd','distcd','year'])
y.shape

(1324, 418)

In [16]:
## Final DataFrame
df = pd.merge(y,df_dist_teacher, on=['statecd','distcd','year'])
df.shape

(1324, 594)

#### Exercise 3 - (3 Marks)

* Overall_lit is our target variable, which we need to predict. Delete the row with missing overall_lit column
* Take a call to replace the missing values in any other column appropriately with mean/median/mode
* Convert categorical values to numerical values
Example : If a feature contains categorical values such as dog, cat, mouse etc then replace them with 1, 2, 3 etc or using one hot encoding (your judgement)

*Hint* :
* Use pandas fillna function to replace the missing values

In [17]:
#Delete the row with missing overall_lit column
df = df.dropna(subset=['overall_lit'])
df.shape

(1268, 594)

In [18]:
#Replace missing with NaN in other cols
df = df.replace('', np.nan, regex=True)
#Replace NaN with mean
df = df.fillna(df.mean())
df[:3]

      year  statecd  distcd  ...  prof_trn_tch_p  days_nontch  tch_nontch
0  2012-13       35    3501  ...             228           12         519
1  2012-13       35    3503  ...             203            8         362
2  2012-13       35    3502  ...              78           20          28

[3 rows x 594 columns]

In [19]:
set(df.overall_lit)

{'High', 'Low', 'Medium'}

In [20]:
lit_dict ={'Low' : 1, 'Medium' : 2, 'High' : 3} 
df['overall_litnum'] = df['overall_lit'].map(lit_dict)
set(df.overall_litnum)

{1, 2, 3}

In [21]:
df.shape

(1268, 595)

In [22]:
#Delete year and overall_lit
df = df.drop(columns=['year', 'overall_lit',])
df.shape

(1268, 593)

In [23]:
df.columns

Index(['statecd', 'distcd', 'blocks', 'clusters', 'villages', 'totschools',
       'totpopulation', 'p_06_pop', 'p_urb_pop', 'sexratio',
       ...
       'trn_tch_f3', 'trn_tch_f4', 'trn_tch_f5', 'trn_tch_f6', 'trn_tch_f7',
       'prof_trn_tch_r', 'prof_trn_tch_p', 'days_nontch', 'tch_nontch',
       'overall_litnum'],
      dtype='object', length=593)

In [24]:
df = df.drop(columns=['statecd','distcd'])
df.shape

(1268, 591)

#### Exercise 4 - ( 3Marks)

Use the functions below to adjust the outliers

smooth_out function takes pandas dataframe as input and caculates mean, standard deviation of every column to check whether all the values in that lies within the range of mean +/- 2*standard_deviation of that column or not.
If any of the values are not present in that boundary, then that values is brought on to the boundary.

**Hint:** Should  the index column be normalized too? 

<img src="https://cdn.talentsprint.com/aiml/Experiment_related_data/normal_dist.png">

In [0]:
# Function to clip and clam the data
def clip_clamp(x, mean, sd):
    # Checking whether the value is less than a differenced value between mean and standard deviation.
    if x < mean - 2*sd :
        return mean - 2*sd
    #Checking whether the value is greater than a differenced value between mean and standard deviation.
    elif x > mean + 2*sd :
        return mean + 2*sd
    # If above two conditions are not statisfied we will return the original value
    else :
        return x

In [0]:
# Function to smooth the data
def smooth_out(Total_data):
    for i in Total_data.columns:
        # Calculating the mean value
        mean = np.mean(Total_data[i].values, axis=0)
        # Calculating the standard deviation value
        sd = np.std(Total_data[i].values, axis=0)
        # Calculating the corrected value using clip and clamp function
        corrected = np.array([clip_clamp(x, mean, sd) for x in Total_data[i].values])
        # Storing the data in form of series
        Total_data[i] = pd.Series(corrected, index=Total_data[i].index)
    return Total_data

In [0]:
df_smooth = smooth_out(df)

#### Exercise 5 - (2 Marks)

Use the function below (corr_features) to identify uncorrelated features and remove the remaining features
* corr_features takes pandas dataframe, columns in the dataframe and bar (corelation co-efficient)

In [0]:
# Function to find uncorrelated features
def corr_features(df,cols,bar=0.9):
    for c,i in enumerate(cols[:-1]):
        col_set = set(cols)
        for j in cols[c+1:]:
            if i==j:
                continue
           
            score = df[i].corr(df[j])
            
            if score>bar:
                cols = list(col_set-set([j]))
            if score<-bar:
                cols = list(col_set-set([j]))
    return cols

In [0]:
corr_cols = corr_features(df_smooth, df_smooth.columns)

In [33]:
len(df_smooth.columns), len(corr_cols)

(591, 432)

In [0]:
remove_features = set(df_smooth.columns) - set(corr_cols)

In [37]:
feature_drop = list(remove_features)
len(feature_drop)

159

In [38]:
feature_drop[:20]

['enr py4 c5',
 'enr r govt1',
 'tch_govt3',
 'water sch3',
 'enr govt7',
 'sch r govt6',
 'enr py3 c3',
 'st enrp cy',
 'enr py2 c3',
 'sch r pvt3',
 'enr py3 c2',
 'st enrup cy',
 'gtoilet sch1',
 'enr py4 c6',
 'tch_sc_m4',
 'enr py3 c8',
 'enr py1 c2',
 'tch1 school1',
 'rep c7',
 'enr pvt4']

In [0]:
# Removing uncorrelated features
df_final = df_smooth.drop(columns=feature_drop)

In [40]:
df_final.shape

(1268, 432)

In [65]:
list(df_final.columns).index('overall_litnum')

431

In [68]:
df_final.columns[-1]

'overall_litnum'

#### Exercise 6 - (4 Marks)

Perform Mean Correction and Standard Scaling on the data feature/column wise.

**Hint:** In order to understand the idea behind the terms used above, you may refer the following link: 

https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html

In [0]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(df_final)
scaler.mean_
dataset = scaler.transform(df_final)

In [83]:
type(dataset)

numpy.ndarray

In [0]:
data = dataset[:,:-1]

In [0]:
target = dataset[:,-1]

In [89]:
data.shape, target.shape

((1268, 431), (1268,))

#### Exercise 7 - (2 Marks)

Apply different classifiers on the preprocessed data and figure out which classifier gives the best result.

In [0]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [0]:
def callKnn(data,targets):
    #convert string or float values to 0 .. n classes.
    #https://www.kaggle.com/pratsiuk/valueerror-unknown-label-type-continuous
    lab_enc = preprocessing.LabelEncoder()
    X_train, X_test, y_train, y_test = train_test_split(data, targets, test_size=0.33)
    neigh = KNeighborsClassifier(n_neighbors=3)
    #encoding
    y_train_enc = lab_enc.fit_transform(y_train)
    y_test_enc = lab_enc.fit_transform(y_test)

    neigh.fit(X_train, y_train_enc)
    #return neigh.score(X_test, y_test_enc)
    pred = neigh.predict(X_test)
    return accuracy_score(y_test_enc,pred)

In [124]:
callKnn(data,target)

0.6539379474940334

In [0]:
from sklearn import tree

In [0]:
def callDT(data,targets):
  clf = tree.DecisionTreeClassifier(criterion='entropy')
  X_train, X_test, y_train, y_test = train_test_split(data, targets, test_size=0.33)
  lab_enc = preprocessing.LabelEncoder()
  
  y_train_enc = lab_enc.fit_transform(y_train)
  clf = clf.fit(X_train,y_train_enc)

  y_test_enc = lab_enc.fit_transform(y_test)
  pred = clf.predict(X_test)
  return accuracy_score(y_test_enc,pred)

In [127]:
callDT(data,target)

0.9069212410501193

In [0]:
from sklearn import linear_model

In [0]:
def linear_classifier(data,targets):
  lnr_clf = linear_model.SGDClassifier()
  X_train, X_test, y_train, y_test = train_test_split(data, targets, test_size=0.33)

  #y is object type, sklearn cannot recognize its type, hence added y.astype('int')
  #https://stackoverflow.com/questions/45346550/valueerror-unknown-label-type-unknown
  y_train = y_train.astype('int')
  lnr_clf.fit(X_train,y_train)

  y_test = y_test.astype('int')
  pred = lnr_clf.predict(X_test)
  return accuracy_score(y_test,pred)

In [136]:
linear_classifier(data,target)

0.8066825775656324